<% @feed.each do |post| %>	
	<div class='row-fluid'>
		<div class='post span8 offset2'>
			<div class='span2'> <img src=<%= post.picture %> class="img-rounded"> </div>
			<div class='span6'> <strong class='name'><%= post.name %></strong> </div>
			<div class='span6'> <p class='name'><%= post.user.name %></p> </div>

			<p hidden class='source'><%= post.source %></p>
		</div>
	</div>
	</br>
<% end %>
  <div class='span0'>
 	<iframe id="playa" src="<%= @feed[0].source %>" width="100%" height="500px" hidden> </iframe>
 	
 </div>


